#topHead{
    background-color: #316DC3;
}
.container-fluid .row1 img{
    width: 18px;
    height: 16px;
    margin-right: 20px;
    margin-top: 15px;
}
.container-fluid .row1 #imgs{    
    text-align: center;
    padding-left: 20px;
}
.container-fluid .row1 #imgs .whatsapp{
    background-color: #65BC54;
}
.container-fluid .row1 .col2 p{
    margin-top: 10px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}
.container-fluid .row1 .col3{
    text-align: center;
}
.container-fluid .row1 .col3 button{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #427900;
    border: 1px solid #427900;
    font-size: 9pt;
    height: 25px;   
    background-color: #F5F5F5;
}
#btn1{
    width: 70px;
}
.btn2{
    width: 100px;
}
.navbar-brand img{
    width: 200px;
    height: 50px;
    margin-left: 30px;
}
.nav-item:hover > .dropdown-menu{
    display: block;
}
.navbar-nav{
    margin-left: 300px;
}
#home{
    min-width: 12% !important;
    height: 33px;
    text-align: center;
    background-color: #316DC3;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}
#home .nav-link{
    margin-top: -2px;
}
#about{
    min-width: 14%;
    height: 25px;
    text-align: center;
    border-radius: 17px;
    font-size: 14px;
    font-weight: 500;
}
#about .nav-link{
    color: #333339;
    border-radius: 30px;
}
#nav-saylaniServices{
    min-width: 25%;
    height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
#nav-future-project{
    min-width: 25%;
    height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
#nav-donation{
    min-width: 20%;
    height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
#nav-saylaniServices .nav-link, #nav-future-project .nav-link, #nav-donation .nav-link{
    color: #333339;
    border-radius: 30px;
}
#nav-media, #nav-news{
    min-width: 12%;
    height: 37px;
    text-align: center;
    color: #333339;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
#nav-media .nav-link, #nav-news .nav-link{
    color: #333339;
    border-radius: 30px;
}
#about:hover .nav-link, #nav-saylaniServices:hover .nav-link, #nav-future-project:hover .nav-link, #nav-media:hover .nav-link, #nav-news:hover .nav-link, #nav-donation:hover .nav-link{
    background-color: #316DC3;
    color: white;
    transition: .2s;
}
.dropdown-item:hover{
    background-color: #316DC3 !important;
    color: white !important;
}
.dropdown-menu{
    margin-top: 10px !important;
    color: #787a79 !important;
    font-size: 9pt !important;
}
#carouselExampleControls{
    width: 100%;
    height: 500px;
}
.carousel-inner img{
    width: 100%;
    height: 500px;
}
.marq{
    color: white;
    background-color: #316DC3;
}
.marq .green{
    color: #0DD735;
}
.marq .blue{
    color: #1632E4;
}
.headIntro{
    text-align: center;
    height: 130px;
    padding-top: 50px;
}
.headIntro h2{
    display: inline;
    font-family: Times New Roman, serif;
    font-size: 28pt;
    font-weight: bold;
}
.color1{
    color: #316DC3;
}
.color2{
    color: #427900;
}
.headIntro p, .headIntro img{
    display: inline;
}
.paraIntro{
    color: #878788;
    text-align: justify;
}
.paraIntro p{
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
#monthly{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #2755E9;
    height: 300px;
    color: white;
}
#monthly h1{
    font-size: 40pt;
}
#monthly img{
    width: 15%;
    height: 40px;
}
#monthly .row .colM{
    text-align: center;
}
#monthly p{
    display: inline-block;
    font-weight: 600;
}
#monthly .month{
    color: #00FF00;
    font-size: 16pt;
}
.row1a .headIntro img{
    height: 30px;
    width: 30px;
}
.row2a .col2, .row3a .col2{
    text-align: center;
    height: 200px;
    padding-top: 40px;
    background-color: white;
    border: 5px solid rgb(239, 239, 239);
}
.row2a, .row3a{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.row2a p, .row3a p{
    font-size: 18pt;
    color: #316DC3;
    font-weight: bold;
    font-family: Times New Roman, serif;
}
.row2a img, .row3a img{
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.mission{
    background-color: white;
}
.missionLeft h2, .missionRight h2{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 20pt;
    color: #316DC3;
    font-weight: bold;
    font-family: Times New Roman, serif;
}
.missionLeft .transform1{
    color: #427900;
    font-weight: 900;
    margin-right: 750px;  
    transform: rotate(180deg);
}
.missionRight .transform1{
    color: #427900;
    font-weight: 900;
    margin-right: 300px;  
    transform: rotate(180deg);
}
.col3 .row1ba img, .col3 .row1bb img{
    margin-top: -10px;
    margin-left: 20px;
    display: inline-block;
}
.col3 .row1ba p, .col3 .row1bb p{
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14pt;
    color: #316DC3;
    font-weight: bold;
    font-family: Times New Roman, serif;
}
.row1bb{
    margin-top: 10px;
}
.hepatitis, .literacy{
    background-color: #F7F8FA;
    margin-left: 50px;
    height: 70px;
}
.housing, .thar{
    background-color: #F7F8FA;
    margin-left: 0px;
    height: 70px;   
}
.marqEvent{
    height: 170px;
    margin-left: 35px;
}
.marqEvent marquee{
    height: 170px;
}
.missionRight .marqEvent .silver{
    color: #666666;
    font-size: 11pt;
    display: inline;
}
.missionRight .marqEvent .moreBlue{
    color: #316DC3;
    font-size: 11pt;
    display: inline;
}
.gallery{
    height: 450px;
    background-color: white;
}
.row .colImg img{
    margin-top: 20px;
    height: 150px;
    margin-left: 60px;
}
.useLink{
    background-color: #25272E;
    height: 360px;
}
.addresses{
    height: 360px;
    padding-left: 70px;
    color: #BBBBBB;
    font-size: 12pt;
}
.addresses .inline{
    display: inline;
    padding-bottom: 10px;
}
.useful{
    padding-top: 80px;
    height: 360px;
    color: white;
    font-family: Times New Roman, serif;
    font-size: 10pt;
}.useful h2{
    font-size: 16pt;
}
.useful p{
    display: inline;
}
.transform3{
    position: absolute;
    color: #427900;
    font-weight: 900;
    transform: rotate(180deg);
}
.transform4{
    margin-left: 70px;
    position: absolute;
    color: #BBBBBB;
    font-weight: 900;
    transform: rotate(180deg);
}
.connectUs{
    padding-top: 80px;
    height: 200px;
    color: white;
    font-family: Times New Roman, serif;
    font-size: 10pt;    
}
.connectUs h2{
    font-size: 16pt;
}
.connectUs a{
    color: white;
}
.connectUs a:hover{
    color: white;
}
#fb, #tw, #in, #yt{
    cursor: pointer;
    padding-top: 11px;
    font-size: 14pt;
    background-color: #316DC3;
    border-radius: 45px;
    height: 36px;
    width: 36px;    
    padding-left: 10px;
} 
#tw, #in, #yt{
    margin-left: 10px;
}
.footer{
    height: 50px;
    background-color: #316DD9;
}
.footer p{
    color: white;
    font-size: 9pt;
    padding-top: 15px;
    padding-left: 70px;
}
.goTop{
    position: fixed;
    width: 60px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 32pt;
    background-color: rgba(50,50,50,.1);
}
.goTop:hover{
    background-color: rgba(20, 20, 20, .5);
    color: white;
}
html{
    scroll-behavior: smooth;
}






@media only screen and (max-width: 992px){
    #home, #about, #about .nav-link, #nav-saylaniServices,  #nav-saylaniServices .nav-link, #nav-future-project, #nav-future-project .nav-link, #nav-donation, #nav-donation .nav-link, #nav-media, #nav-media .nav-link, #nav-news, #nav-news .nav-link{
        border-radius: 0px;
        text-align: left;
        height: 40px;
    }
    .navbar-brand img{
        width: 180px;
        height: 50px;
        margin-left: 0px;
    }
    .navbar-nav{
        margin-left: 0px;
    }    
    .dropdown-menu{
        margin-left: 100px;
        margin-top: -40px !important;
    }
    #carouselExampleControls{
        height: 200px;
    }
    .carousel-inner img{
        height: 200px;
    }
    .paraIntro p{
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }      
    #monthly{
        height: 1000px;
    }
    #monthly .row .colM{
        margin-bottom: 50px;
    }
    .weDoing h2{
        font-size: 18pt;
    }
    .row2a, .row3a{
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .row2a .col2, .row3a .col2{
        margin-bottom: 50px;
        height: 250px;
        padding-top: 60px;
    }
    .missionLeft h2{
        font-size: 18pt;
        padding-left: 10px;
    }
    .missionRight h2{
        font-size: 28px;
        padding-left: 10px;
    }
    .missionLeft .transform1{
        margin-right: 230px;  
    }
    .missionRight .transform1{
        margin-right: 230px;  
    }
    .row1bb{
        margin-top: 0px;
    }
    .hepatitis, .literacy, .housing, .thar{
        margin-left: 5px;
        margin-bottom: 20px;
    }
    .marqEvent{
        width: 300px;
        height: 250px;
        margin-left: 1px;
    }
    .marqEvent marquee{
        height: 250px;
    }
    .gallery{
        height: 1400px;
    }
    .row .colImg img{
        height: 200px;
        margin-left: 10px;
    }  
    .useLink{
        height: 550px;
    }  
    .addresses{
        margin-left: -60px;
        height: 360px;
    }
    .useful{
        padding-top: 0px;
        margin-left: 10px;
        height: 50px;
    }
    .connectUs{
        padding-top: 10px;
        margin-left: 10px;
        height: 150px;
    }
    .footer p{
        padding-top: 15px;
        padding-left: 10px;
    }   
    .goTop{
        bottom: 10px;
        right: 10px;
    }
}